{% extends 'layout.html.twig' %}
{% block title %}
	{{ parent() }}
	| Nos Chiens
{% endblock %}
{% block stylesheet %}
	{{ parent() }}
	<link rel="stylesheet" href="/assets/css/dogs-relation.css" type="text/css">
{% endblock %}

{% block content %}
	<main class="container-fluid dogs-relation">
		<section class="container">
			<header>
				<h1>Nos Chiens</h1>
			</header>
			<details>
				<summary>Filtrer |
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewbox="0 0 16 16">
						<path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
					</svg>
				</summary>

				<form action="" method="GET">
					<label for="is_lof" class="option-label">L.O.F</label>
					<div class="option-container">
						<input type="radio" name="is_lof" id="is_lof_oui" value='1' {{ (search.is_lof ?? '1') == '1' ? 'checked' : '' }}><label for="is_lof_oui">Oui</label>
						<input type="radio" name="is_lof" id="is_lof_non" value='0' {{ (search.is_lof ?? '1') == '0' ? 'checked' : '' }}><label for="is_lof_non">Non</label>
						<input type="radio" name="is_lof" id="is_lof_all" value='' {{ (search.is_lof ?? '') == '' ? 'checked' : '' }}><label for="is_lof_all">Tous</label>
					</div>
					<div class="container-button">
						<button class="secondary">Rechercher
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewbox="0 0 16 16">
								<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
							</svg>
						</button>
					</div>
				</form>

			</details>
			<div class="grid">
				{% for dog in dogs %}
					{% include 'Component/_card_dog_relation.html.twig' %}
				{% endfor %}
			</div>
		</section>
	</main>
{% endblock %}