{% extends 'admin.html.twig' %}
{% block title %}
	{{ parent() }}
	| Liste des évènements
{% endblock %}
{% block content %}
	<main>
		<div class="datas-container">
			<h1>Liste des évènements</h1>
			<div class="btn-container">
				<a class="secondary" role="button" href="/administration/evenements/ajouter">Ajouter</a>
			</div>
			<table role="grid">
				<thead>
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Date</th>
						<th scope="col">Titre</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					{% for event in events %}
						<tr>
							<td scope="row">{{ event.id }}</td>
							<td>{{ event.date | date("d/m/Y H:i:s", "Europe/Paris")}}</td>
							<td>{{ event.title }}</td>
							<td>
								<form action="/administration/evenements/supprimer" method="POST">
									<input type="hidden" id="id" name="id" value="{{ event.id }}">
									<button class="primary outline" role="link">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewbox="0 0 16 16">
											<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
											<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
										</svg>
									</button>
								</form>
							</td>
							<td>
								<a href="/administration/evenements/modifier?id={{ event.id }}"></a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</main>
{% endblock %}
