<div class="container grid">
	<form method="post" enctype="multipart/form-data" novalidate>
		<input type="hidden" value="{{ actuality.id }}" name="id">
		<label for="title">Titre</label>
		<input type="text" value="{{ actuality.title }}" name="title" id="title" maxlength="100" placeholder='Titre de l&#39;actualité...' required value={{ actuality.title ?? '' }}>
		<label for="content">Texte</label>
		<textarea type="text" name="content" id="content" rows="7" placeholder='Text de l&#39;actualité...' spellcheck required>{{~ actuality.content ?? '' ~}}</textarea>
		{% if actuality.image_path is not empty %}
			<div class="form-img-container">
				<img class="form-img" name="img" src="{{ '/uploads/' ~ actuality.image_path }}">
			</div>
		{% endif %}
		<label for="image">Ajouter une image</label>
		<input type="file" id="image" name="image" accept="image/*" value="{{~ actuality.image_path ?? '' ~}}">
		<button type="submit">Valider</button>
	</form>
</div>
<div>
	<a href="/administration/actualites">Back</a>
</div>