<article>
	<header>
		<img src="{{ member.image ?? 'assets/images/profildefault.jpg' }}">
	</header>
	<h2>{{ member.firstname }}</h2>
	<h2>{{ member.laststname }}</h2>
	<div class="job-member">
		{{ member.job }}
	</div>
	<footer>
		<div class="email-member">
			<span>{{ member.email }}</span>
		</div>
	</footer>
</article>
