<div class="container grid">
	<form method="post" enctype="multipart/form-data" novalidate>
		<input type="hidden" value="{{ dog.id }}" name="id">

		<label for="owner">Propriétaire</label>
		<input type="text" name="owner" id="owner" maxlength="{{ constant('App\\Controller\\AdminDogController::MAX_LENGTH_OWNER') }}" placeholder='Nom du propri&nbsp;taire...' value=" {{ dog.owner ?? '' }} " required>

		<label for=" owner_city">Ville</label>
		<input type="text" name="owner_city" id="owner_city" maxlength="{{ constant('App\\Controller\\AdminDogController::MAX_LENGTH_OWNER_CITY') }}" placeholder='Ville du propri&nbsp;taire...' value="{{ dog.owner_city ?? '' }}">

		<label for="owner_email">Mail</label>
		<input type="email" name="owner_email" id="owner_email" maxlength="{{ constant('App\\Controller\\AdminDogController::MAX_LENGTH_OWNER_EMAIL') }}" pattern="[a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+.[a-zA-Z.]{2,15}" placeholder='Mail du propri&nbsp;taire...' value="{{ dog.owner_email ?? '' }}" required>

		<label for="name">Nom du chien</label>
		<input type="text" name="name" id="name" maxlength="{{ constant('App\\Controller\\AdminDogController::MAX_LENGTH_DOG_NAME') }}" placeholder='Nom du chien...' value="{{ dog.name ?? '' }}" required>

		<label for="birthdate">Date de chien</label>
		<input type="date" name="birthdate" id="birthdate" pattern="\d{4}-\d{2}-\d{2}" value="{{ dog.birthdate ?? '' }}">

		<label for="identity_number">Numéro I-CAD</label>
		<input type="text" name="identity_number" id="identity_number" minlength="{{ constant('App\\Controller\\AdminDogController::LENGTH_DOG_NUMBER') }}" maxlength="{{ constant('App\\Controller\\AdminDogController::LENGTH_DOG_NUMBER') }}" placeholder='Numéro I-CAD...' value="{{ dog.identity_number ?? '' }}" required>

		<label for="is_lof" class="option-label">L.O.F</label>
		<div class="option-container">
			<input type="radio" name="is_lof" id="is_lof_oui" value='1' {{ (dog.is_lof ?? '1') == '1' ? 'checked' : '' }}><label for="is_lof_oui">Oui</label>
			<input type="radio" name="is_lof" id="is_lof_non" value='0' {{ (dog.is_lof ?? '1') == '0' ? 'checked' : '' }}><label for="is_lof_non">Non</label>
		</div>

		<label for="gender" class="option-label">Genre</label>
		<div class="option-container">
			<input type="radio" name="gender" id="genderFemelle" value='F' {{ (dog.gender ?? 'M') == 'F' ? 'checked' : '' }}><label for="genderFemelle">Femelle</label>
			<input type="radio" name="gender" id="genderMale" value='M' {{ (dog.gender ?? 'M') == 'M' ? 'checked' : '' }}><label for="genderMale">Male</label>
		</div>


		<label for="description">Description</label>
		<textarea type="text" name="description" id="description" rows="7" placeholder='Description du chien...' spellcheck required>{{~ dog.description ?? '' ~}}</textarea>

		{% if dog.image is not empty %}
			<div class="form-img-container">
				<img class="form-img" name="img" src="{{ '/uploads/' ~ dog.image }}">
			</div>
		{% endif %}

		<label for="image">{{ dog.image is empty ? 'Ajouter' : 'Editer' }}
			une image</label>
		<input type="file" id="image" name="image" accept="image/*" value="{{~ dog.image ?? '' ~}}">

		<button>Valider</button>
	</form>
</div>
<div>
	<a href="/administration/nos-chiens">Back</a>
</div>